* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}
#rectangle_1 {
	top: 395px;
	left: 60px;
	width: 1318px;
	height: 2773px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	border: 1px solid #ffffff;
	background:rgba(39,39,39,1);
}
.container {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    overflow: hidden; /* добавляем свойство overflow, чтобы предотвратить вылизывание содержимого за пределы контейнера */
}

/* Ограничиваем ширину элементов внутри .container */
.container * {
    max-width: 100%;
}

/* Медиа-запрос для переопределения ширины контейнера на 100% при узком экране */
@media (max-width: 249px) {
    .container {
        width: 100%;
    }
}

.logo .header-text {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ffffff; /* Added color property */
    font-family: 'sans-serif'; /* Added font-family property */
    font-size: 16px; /* Adjust font size as needed */
    font-weight: 400; /* Adjust font weight as needed */
}

.header-text.right {
    right: 10px;
    left: auto;
}


.promo {
    height: 800px;
    background: #1A1A1A;
    padding: 39px 0 62px 6;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    color: #ffffff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
}

h1 {
    margin-top: 53px;
}
h2.title {
    margin-top: 30px;
}

.title {
    color: #ffffff;
    /* font-family: "Roboto - Black"; */
    font-size: 41px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}

.simple .title_big {
    color: #ffffff;
    /* font-family: "Roboto - Black"; */
    font-size: 80px;
    font-weight: 900;
    /* line-height: 24px; */
    text-transform: uppercase;
    text-align: center;
    margin-top: 21px;
}

.promo .promo_text {
    padding: 0 13px;
    margin-top: 23px;
    color: #ffffff;
    /* font-family: "Roboto Light"; */
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}

.promo .promo_text span {
    color: #ffffff;
    /* font-family: "Roboto - Bold"; */
    font-weight: 700;
}
.promo .promo_btn, .gift .gift_btn {
    display: block;
    /* margin: 73px auto; */
    margin: 0 auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9, #3ab6da 100%);
    color: #ffffff;
    /*font-family: "Roboto Condensed"; */
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
    /* outline: none; */
}

.more {
    margin-top: 73px;
}

.more .more_text {
    color: #ffffff;
    /* font-family: "Roboto - Thin";*/
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    color: rgb(255, 255, 255);
}
.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting {
    min-height: 604px;
    background-color: #1A1A1A;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header{
text-transform: uppercase;
}

.waiting .waiting_header,
.finish .finish_header,
.waiting .waiting_header {
    color: #ffffff;
    /* font-family: Roboto; */
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    font-family: Stalinist One;
}

.finish .finish_header {
    margin-top: 15px;
    color: #ffffff;
}

.finale .finale_header {
    margin-top: 15px;
    color: #ffffff;
    text-align:center;
    font-size: 50px;
}

.waiting .waiting_divider,
.finish .finish_divider {
    width: 217px;
    height: 4px;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader {
    margin-top: 17px;
    color: #ffffff;
    /* font-Family: Roboto; */
    font-size: 23px;
    font-weight: 400;
    text-align: center;
}
.waiting .waiting_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
    width: 339px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 33px;
    color: #4a4a4a;
    /* font-family: Roboto; */
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

.optimization {
    padding: 50px 0 50px 0;
    text-align:center;
}

.optimization .optimization_header {
    color: #299cbd;
    /* font-family: "Roboto - Black"; */
    font-size: 29px;
    font-weight: 400;
    text-transform: uppercase;
}
.optimization .optimization_text {
    margin-top: 25px;
    margin-left: 20px;
    color: #4a4a4a;
    /* font-family: "Roboto Light"; */
    font-size: 17px;
    font-weight: 300;
}

.optimization .optimization_text span {
    /* font-family: "Roboto - Bold"; */
    font-weight: 700;
}

.optimization .optimization_img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}

.finale {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: #1A1A1A;
}

.finale .finish_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 41px;
}

.finale .finish_wrapper .finish_item {
    margin-bottom: 20px;
}

.finale .finish_wrapper .finish_item:last-child {
    margin-bottom: 0;
}

.finale .finish_wrapper .finish_item .finish_descr {
    text-align: center;
    color: #efefef;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}


.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: #1A1A1A;
}

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 204px;
}
.finish .finish_wrapper .finish_item .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    background-color: #ffffff;
    border-radius: 100%;
}

.finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 20px;
    text-align: center;
    color: #efefef;
    /* font-family: Roboto; */
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}

.gift {
    min-height: 200px;
    background-color: #EFEFEF;
    padding: 10px 0;
}

.gift .gift_img {
    display: block;
    margin: 40px auto;
}

.gift .gift_text {
    margin-top: 25px;
    color: #4a4a4a;
    /* font-family: "Roboto Light"; */
    font-size: 17px;
    font-weight: 300;
    text-align: center;
}
.gift .gift_btn {
    margin-top: 50px;
    margin-bottom: 50px;
}

.webinar {
    min-height: 500px;
    padding-top: 40px;
    padding-bottom: 0px;
}

.webinar .webinar_img {
    display: block;
    margin: 40px auto;
}
.webinar .webinar_bg{
    background: url("../img/bg/webinar_bg.png") center center/cover no-repeat;
    
}

.webinar .webinar_header {
    margin-top: -15px;
    text-align: center;
    text-transform: uppercase;
}

.webinar .webinar_data {
    margin-top: 15px;
    /* font-family: Roboto; */
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #299CBD;
}

.finale .finale_data {
    margin-top: 15px;
    /* font-family: Roboto; */
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #ff0000;
}
/* Добавляем эффект ховера */
.promo_btn,
.gift_btn {
    transition: all 0.3s ease;
}

.promo_btn:hover,
.gift_btn:hover {
    transform: scale(1.1);
}


.webinar .webinar_text {
    margin-top: 15px;
    /* font-family: Roboto; */
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    text-align: center;
    color: #4A4A4A;
}
.finale .finale_text {
    margin-top: 50px;
    /* font-family: Roboto; */
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
}
footer {
    height: 200px;
    background: #1A1A1A;
}

footer .footer_wrap {
    display: flex;
    justify-content: center;
}

footer .footer_link,
footer .footer_text,
footer .footer_link_divider {
    margin-top: 70px;
    font-family: Roboto;
    /* font-style: normal; */
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    color: #888888;
}

footer .footer_text {
    margin-top: 0;
}

footer .footer_link_divider {
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 800;
}
.finale .finale_divider{
    width: 217px;
    height: 4px;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 18px;
}